<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colossustex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ColossusCare.Allresumes"></activity>
        <activity android:name=".SpinningMillOfIndia.Common.CompanyAdd" />
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SG.brain" />
        <activity android:name=".SpinningMillOfIndia.Common.CompanyAdd" />
        <activity
            android:name=".EmailLogin.ForgotPassword"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".EmailLogin.VerifyNumber"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".EmailLogin.MobileLogin"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".EmailLogin.WelcomeActivity"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".EmailLogin.InfoActivity"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/splash_statusbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailLogin.MainRegister"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".EmailLogin.MainLogin"
            android:theme="@style/loginstatusbar" />
        <activity
            android:name=".SpinningMillOfIndia.Synthetic.SyntheticTabbed"
            android:label="@string/title_activity_synthetic_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpinningMillOfIndia.Cotton.CottonTabbed"
            android:label="@string/title_activity_cotton_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SpinningMillOfIndia.Common.AllProducts" />
        <activity android:name=".SG.Textile_News" />
        <activity android:name=".SG.yarn_requirements" />
        <activity
            android:name=".SG.yarn_offers"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".SG.sensex_SG" />
        <activity
            android:name=".SpinningMillOfIndia.Fancy.FancyActivity"
            android:label="@string/title_activity_fancy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpinningMillOfIndia.Texturised.TexturisedActivity"
            android:label="@string/title_activity_texturised"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpinningMillOfIndia.ProductDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SpinningMillOfIndia.Viscose.ViscoseActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>